.container-fluid{
    background-image: url(./asset/background.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.navbrand{
    width: 50px;
    
}

#navbar{
    background-color: rgba(153, 200, 153, 0.7);

    
}